# all query

In [ ]:
query1 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 1

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query3 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 1

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 3

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query4 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 4)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
# 1-12, exclude 2,7,8 ...... 15 = removed
"""

query5 = """
SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 5

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query6 = """
SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 6

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query9 = """
SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 9

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query10 = """
SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 10

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query11 = """
SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 11

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query12 = """
SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
FROM
oms_live_my.ims_product ip
LEFT JOIN
oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
LEFT JOIN
oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
LEFT JOIN
oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
where ipo.fk_purchase_order_status  = 12

group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

In [5]:
query1 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 1)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query3 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 3)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query4 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 4)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0


# 1-12, exclude 2,7,8 ...... 15 = removed
"""

query5 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 5)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query6 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 6)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query9 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 9)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query10 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 10)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query11 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 11)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

query12 = """
SELECT  wi.po_number, ip.sku,ip.created_at, ip.updated_at,  sum(ipoi.added_by_tolerance) as tolerance_added, sum(ipoi.quantity) as total
FROM
(	select ip.id_product, ip.created_at, ip.sku, ip.updated_at
	from
	oms_live_my.ims_product ip
    WHERE ip.created_at >= ( CURDATE() - INTERVAL 7 DAY )) ip
INNER JOIN
(	select wi.po_number, wi.fk_product,fk_purchase_order_item
	from
	oms_live_my.wms_inventory wi) wi
    ON ip.id_product = wi.fk_product
INNER JOIN
(	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
	ipoi.fk_purchase_order, ipoi.quantity
	from
    oms_live_my.ims_purchase_order_item ipoi) ipoi 
    ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
INNER JOIN
(	select ipo.fk_purchase_order_status, ipo.id_purchase_order
	from
	oms_live_my.ims_purchase_order ipo
    where  ipo.created_at >= ( CURDATE() - INTERVAL 7 DAY 
    AND ipo.fk_purchase_order_status  = 12)) ipo 
    ON ipo.id_purchase_order = ipoi.fk_purchase_order
group by ip.sku
having sum(ipoi.added_by_tolerance)>0
    """

In [6]:
# query1 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 1

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# query3 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 3

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# query4 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# (	select ip.id_product, ip.created_at, ip.sku, ip.quantity
# 	from
# 	oms_live_my.ims_product ip
#     WHERE ip.created_at >= ( CURDATE() - INTERVAL 4 DAY )) ip
# INNER JOIN
# (	select wi.po_number, wi.fk_product,fk_purchase_order_item
# 	from
# 	oms_live_my.wms_inventory wi) wi
#     ON ip.id_product = wi.fk_product
# INNER JOIN
# (	select ipoi.added_by_tolerance, ipoi.fk_purchase_order_item_status, ipoi.fk_excess,ipoi.id_purchase_order_item,
# 	ipoi.fk_purchase_order
# 	from
#     oms_live_my.ims_purchase_order_item ipoi) ipoi 
#     ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# INNER JOIN
# (	select ipo.fk_purchase_order_status, ipo.id_purchase_order
# 	from
# 	oms_live_my.ims_purchase_order ipo
#     where ipo.fk_purchase_order_status  = 4
#     and  ipo.created_at >= ( CURDATE() - INTERVAL 4 DAY )) ipo 
#     ON ipo.id_purchase_order = ipoi.fk_purchase_order
# group by ip.sku


# # 1-12, exclude 2,7,8 ...... 15 = removed
# """

# query5 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 5

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# query6 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 6

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# query9 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 9

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# query10 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 10

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# query11 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 11

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# query12 = """
# SELECT  ip.sku, wi.po_number, sum(ipoi.added_by_tolerance), ipoi.fk_excess, ip.quantity AS total_quantity_in_po
# FROM
# oms_live_my.ims_product ip
# LEFT JOIN
# oms_live_my.wms_inventory wi ON ip.id_product = wi.fk_product
# LEFT JOIN
# oms_live_my.ims_purchase_order_item ipoi ON wi.fk_purchase_order_item = ipoi.id_purchase_order_item
# LEFT JOIN
# oms_live_my.ims_purchase_order ipo ON ipo.id_purchase_order = ipoi.fk_purchase_order
# where ipo.fk_purchase_order_status  = 12

# group by ip.sku
# having sum(ipoi.added_by_tolerance)>0
#     """

# code

In [7]:
import mysql.connector
from mysql.connector import Error, connect
import pandas as pd
import os

try:
    connection = mysql.connector.connect(host= "petcat-live.zalora.com",
                                         user= "zhengyi.chin@my.zalora.com",
                                         charset = 'utf8',
                                         use_unicode=True, 
                                         password= "EEZC0NjIPFA6SMzdnA",
                                         database = "oms_live_my"
                                         )
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

def read_query(connection, query):
    
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

all_query_list = [query1, query3, query4, query5, query6, query9, query10, query11, query12]

ij = [1,3,4,5,6,9,10,11,12]
increment1 = 0
df_empty = pd.DataFrame()
for i in all_query_list:
    print(ij[increment1])
    increment1 += 1
    df = read_query(connection,i)
    df_empty = df_empty.append(df)

# df_empty.columns =  ['SKU', 'PO_number', 'added_by_excess', 'excess']



desktop = os.path.join(os.path.join(os.environ['USERPROFILE']), 'Desktop') 
df_empty.to_csv(os.path.join(desktop,r'inbound_printed_wrongly.csv'))

file = os.path.join(desktop,r'inbound_printed_wrongly.csv')
os.startfile(file)

Connected to MySQL Server version  5.5.5-10.1.41-MariaDB
You're connected to database:  ('oms_live_my',)
1

KeyboardInterrupt:

# check

In [ ]:
error stopfwefwef

SyntaxError: invalid syntax (3524551020.py, line 1)