In [1]:
import pandas as pd

In [11]:
# Lets say I'm given a list of data and need to return the differences with another data, this code can be used
# For example, kindergarden A store attendance data through writing (df1) and facial recognition system (df2)
# And we want to compare the data and know that the writing method is the correct one
# From there, we know facial recognition system (df2) recorded "Onion" which is wrong. 

# Outer join to get all data, then use indicator = True to indicate left_only & right_only
df1 = pd.DataFrame({"Name": ['John','Bob', 'Luis'], 
                    "Age": ['4','5','6']})
df2 = pd.DataFrame({"Name": ['John', 'Luis', 'Bob', 'Onion'], 
                    "Age": ['4','6','5','Null']})
print('df1 & df2:')
display(df1,df2)

print('merged df:')
df_left = pd.merge(df1,df2, left_on='Name', right_on= 'Name', how= 'outer', indicator= True)
display(df_left)

print('Data diferences:')
df_diff = df_left[(df_left['_merge'] == 'left_only') | (df_left['_merge'] == 'right_only') ]
display(df_diff)

df1 & df2:

   Name Age
0  John   4
1   Bob   5
2  Luis   6

    Name   Age
0   John     4
1   Luis     6
2    Bob     5
3  Onion  Null

merged df:

    Name Age_x Age_y      _merge
0   John     4     4        both
1    Bob     5     5        both
2   Luis     6     6        both
3  Onion   NaN  Null  right_only

Data diferences:

    Name Age_x Age_y      _merge
3  Onion   NaN  Null  right_only